.card {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #050a30;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    width: 240px;
    height: 330px;
    
    font-weight: bold; /* Texto en negrita para destacar el precio */
    border: solid 1px;
    transition: background-color 0.3s ease;

}
.card:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transform: scale(1.1);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2); /* Agrega la sombra en el hover */

}


.image {
    width: 220px;
    height: 180px;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    border-radius: 10px;

}

.name {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    color: #050a30;
}
.container {    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.price {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    font-size: 18px;
    color: #050a30; /* Color naranja, puedes ajustarlo según tus preferencias */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 26px;
}

.price::after {
    content: 'US$ '; /* Agrega un símbolo de dólar antes del precio */
    font-size: 20px; /* Tamaño del símbolo de dólar */
    margin-left: 5px; /* Espacio entre el símbolo de dólar y el precio */
    font-size: 18px;
}

.botoncontainer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.botonDetalles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #050a30;
    color: white;
    background-color: #050a30;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonDetalles:hover {
    color: #050a30;
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}