.Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: larger;
    height: 120px;
    background-color: rgb(28,28,28)
    ;
   
}

.frecuente {
    display: flex;
align-items: center;
justify-content: space-between;
  
  flex-direction: row;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
    margin: 5px;
 }

 .interrogation {
    margin-left: 15px;
 }
.p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  
}


.logo {
margin-right: 680px;
height: 100px;


}


.HomeContainer {
display: flex;
color: white;
justify-content: space-between;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
flex-wrap: wrap; 


}



.link {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.iconHome {
    color: white;
    align-items:center ;
    justify-content: center;
    text-align: center;
    

}



@media screen and (max-width: 830px){
    .Container {
      display: flex;
      align-items: center;
      
      
      flex-direction: row;
      justify-content: space-between;
     }
     
     
     
     .p {
    display: flex;
    align-items: center;
    justify-content: space-between;
      gap: 20px;
      flex-direction: row;
   }

   .iconHome {
    display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-direction: row;
      
   }
   
   .logo {
       display: flex;
       margin: 0px;
       
    }
    
    .HomeContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        font-size: 11px;
        margin-right: 30px;
    }
    

}