.Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   
  font-size: larger;
    height: 120px;
    background-color: rgb(28,28,28)
    ;
   
}


.p {
  display: flex;
  
  align-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


.logo {
margin: 30px;
height: 100px;


}


.HomeContainer {
color: white;
justify-content: center;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
flex-wrap: wrap;    
}

.Bienvenido {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 60px;
    
    color: #fff;
}

.link {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.iconHome {
    color: white;
    align-items:center ;
    justify-content: center;
    text-align: center;
    

}



@media screen and (max-width: 830px){
    .Container {
      display: flex;
      align-items: center;
      
      
      flex-direction: row;
      justify-content: space-between;
     }
  
     
     .p {
    display: flex;
    align-items: center;
    justify-content: space-between;
      gap: 20px;
      flex-direction: row;
   }

   .iconHome {
    display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-direction: row;
      
   }
   
   .logo {
       display: flex;
       margin: 0px;
       
    }
    
    .HomeContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 20px;
    }
    
    .Bienvenido {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 15px;
        margin-right: 50px;
    }
}