.pagi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    
  
    height: 80px;
    
}

.but {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    border-color: rgb(248,71,100);
    color: black;
    background-color: white;
    transition: background-color 0.3s ease;

}

.but:hover {
    background-color: rgb(248,71,100);   
}