.containerloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% 100%;
    background-position: 100%;
    overflow: hidden;
    width: 100%;
  }
  
  .loader-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% 100%;
    background-position: 100%;
    overflow: hidden;
    width: 100vh;
    animation: spin 1s infinite linear;
    
  }

  .gif {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 250px;
    width: 250px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }