.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;

}

.h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #080530;
    
}

.containerdescripimagen {
 display: flex;
 
    
    

}
.imagen {
    height: 400px;
    width: 500px;
    margin-right: 100px;
    border: solid 2px;
    border-radius: 20px;
    margin-top: 50px;
}
.imagen:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transform: scale(1.1);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2); /* Agrega la sombra en el hover */

}

.description {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    width: 550px;
    color: #050a30;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.adicional {
    height: 50px;
    color: white;
    background-color: #050a30;
    border: solid 1px;
    border-radius: 10px;
    width: 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 500px;
}

.adicional:hover {
    color: #050a30;
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}

.categoria {
    color: #050a30;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formato {
    display: flex;
    color: #050a30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.precioboton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.precio {
    margin: 10px;
    color: #050a30;
}

.boton {
    height: 50px;
    color: white;
    background-color: #050a30;
    border: solid 1px;
    border-radius: 10px;
    width: 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    color: #050a30;
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}