.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    background-color: rgb(28,28,28);
    

}

.h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243,95,64);
    transition: color 0.5s ease;
    font-size: 40px;
}

.containerdescripimagen {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
    

}
.imagen {
    height: 400px;
    width: 500px;
    margin-right: 100px;
    border: solid 4px;
    border-color: rgb(243,95,64);
    border-radius: 20px;
    margin-bottom: 600px;
}
.imagen:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transform: scale(1.1);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2); /* Agrega la sombra en el hover */

}

.description {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    width: 550px;
    color: white;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.adicional {
    height: 50px;
    color: white;
    background-color: rgb(28,28,28);
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(243,95,64);
    width: 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
    justify-content: end;
    margin-left: 500px;
    
}

.adicional:hover {
    color: #050a30;
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}

.categoria {
    color: white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.formato {
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
.precioboton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.precio {
    margin: 30px;
    color: white;
}

.boton {
    height: 50px;
    color: white;
    background-color: rgb(28,28,28);
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(243,95,64);
    width: 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    color: #050a30;
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}

@media screen and (max-width: 830px){
    .containerdescripimagen{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     
    }

    .h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
    }

    .adicional {
        margin: 0;
    }
}