.searchContainer {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px solid #050a30;
    border-radius: 35px;
    border-color: rgb(239,215,117);
    height: 50px;
    width: 400px;
    justify-content: left;
    background-color: transparent;
  }
  
  
  .input  {
    border: none;
    outline: none;
    align-items: center;
    text-align: center;
    justify-content: left;
    color: #050a30;
    font-size: 15px;
    background-color: transparent;
  }

  .input [placeholder='Buscar curso'] {
    border: none;
    outline: none;
    color: #050a30;
    background-color: #050a30;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
  }

  .searchIcon {
 
    height: 60px;
  }