.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}


.cateCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
    
}

.cateCardContainer .cate {
    width: 20%;
    
}

.cateCardContainer .card {
    width: 80%;
}
.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}




.categoria {
    display: block;
    align-items: center;
    text-align: left;
    justify-content: center; 
    margin-bottom: 610px;
    border: solid 2px color black;
}

.CarruselMain {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
    border: solid 2px;
    border-color: #050a30;
}

.garantia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:140px;
    margin-left: 650px;
    z-index: 14;
}