.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(28,28,28);
    background-size: 100% 100%;
    
    min-height: 100vh;
    width: 100%; 
    
}


.cateCardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




.categoria {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center; 
    margin-bottom: 50px;
    border: solid 2px color rgb(243,95,64);
    
}

.cateselect {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    border: solid 2px;
    border-radius: 20px;
    border-color: rgb(243,95,64);
    background-color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
}

.cateselect:hover {
    background-color: black;
    color: white;
}

.contenedorprice {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px;
}

.selectprice {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    border: solid 2px;
    border-radius: 20px;
    border-color: rgb(243,95,64);
    background-color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
}

.selectprice:hover {
    background-color: black; /* Cambia el color de fondo al pasar el mouse */
    color: white;
}

.contenedorReset {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: transparent;
}

.botonreset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: black;
    background-color: white;
    border: solid 2px;
    border-radius: 20px;
    
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease;
}

.botonreset:hover {
    color: white;
    background-color: transparent; /* Cambia el color de fondo al pasar el mouse */
    border-color:rgb(243,95,64) ;

}
.CarruselMain {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    max-width: 1260px;
    margin: 0px auto;
    overflow: hidden;
    
  
}

.garantia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:150px;
    margin-left: 850px;
    z-index: 14;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}