.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}


.cateCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
   
    
    
}


.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}




.categoria {
    display: block;
    align-items: center;
    text-align: left;
    justify-content: center; 
    margin-bottom: 50px;
    border: solid 2px color black;
}

.CarruselMain {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
  
}

.garantia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:140px;
    margin-left: 850px;
    z-index: 14;
}